{% extends "base.html" %}

{% block title %}{{ mineral.mineral_species }} - Dettagli{% endblock %}

{% block content %}
<h1 class="mb-4">{{ mineral.mineral_species }}</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Dettagli del Minerale</h5>
        <dl class="row">
            <dt class="col-sm-3">Codice</dt>
            <dd class="col-sm-9">{{ mineral.code }}</dd>

            <dt class="col-sm-3">Varietà</dt>
            <dd class="col-sm-9">{{ mineral.variety or 'N/A' }}</dd>

            <dt class="col-sm-3">Alias</dt>
            <dd class="col-sm-9">{{ mineral.alias or 'N/A' }}</dd>

            <dt class="col-sm-3">Associazione</dt>
            <dd class="col-sm-9">{{ mineral.association or 'N/A' }}</dd>

            <dt class="col-sm-3">Località</dt>
            <dd class="col-sm-9">{{ mineral.full_location }}</dd>

            <dt class="col-sm-3">Dimensioni</dt>
            <dd class="col-sm-9">{{ mineral.dimensions or 'N/A' }}</dd>

            <dt class="col-sm-3">Qualità</dt>
            <dd class="col-sm-9">{{ mineral.quality }}</dd>

            <dt class="col-sm-3">Data di Acquisizione</dt>
            <dd class="col-sm-9">{{ mineral.acquisition_date or 'N/A' }}</dd>

            <dt class="col-sm-3">Metodo di Acquisizione</dt>
            <dd class="col-sm-9">{{ mineral.acquisition_method or 'N/A' }}</dd>

            <dt class="col-sm-3">Acquisito da</dt>
            <dd class="col-sm-9">{{ mineral.acquired_from or 'N/A' }}</dd>

            <dt class="col-sm-3">Costo</dt>
            <dd class="col-sm-9">{{ mineral.cost or 'N/A' }}</dd>

            <dt class="col-sm-3">Fluorescenza LW</dt>
            <dd class="col-sm-9">{{ mineral.fluorescence_lw or 'N/A' }}</dd>

            <dt class="col-sm-3">Fluorescenza SW</dt>
            <dd class="col-sm-9">{{ mineral.fluorescence_sw or 'N/A' }}</dd>

            <dt class="col-sm-3">Radioattivo</dt>
            <dd class="col-sm-9">{{ mineral.radioactive or 'N/A' }}</dd>

            <dt class="col-sm-3">Note</dt>
            <dd class="col-sm-9">{{ mineral.notes or 'N/A' }}</dd>
        </dl>
    </div>
</div>
<a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Torna alla lista</a>
{% endblock %}