<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
</head>
<body>
    {% include 'includes/navbar.html' %}

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    {% include 'includes/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/autocomplete.js/dist/autocomplete.jquery.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>