.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

.table th {
    background-color: #f8f9fa;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, .075);
}

/* formattazione autocomplete */
.ui-autocomplete {
    background: #f8f9fa;
    border: 1px solid #ced4da;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 0;
    z-index: 1000;
}

.ui-autocomplete .ui-menu-item {
    padding: 5px 10px;
    font-size: 14px;
}

.ui-autocomplete .ui-menu-item-wrapper {
    padding: 3px 5px;
}

.ui-autocomplete .ui-menu-item-wrapper.ui-state-active {
    background: #007bff;
    color: white;
    border: none;
    margin: 0;
}

.ui-helper-hidden-accessible {
    display: none;
}